.selections {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.machines-grid {
    width: 80%;
}

@media (max-width: 1000px){
    .machines-grid {
        width: 100%;
    }
}